.cart_frame, .cart_title{
  padding: 0 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.cart_title{
  margin-top: 50px;
  margin-bottom: 50px;
}

.cart_frame{
  display: flex;
}

.none-item {
  width: 100%;
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}

.cart_items{
  width: 66.6666%;
  padding-right: 30px;
}

.cart_item{
  display: flex;
}

.cart_info{
  padding-left: 20px;
}

.cart_item img{
  width: 200px;
  height: 200px;
}

.detail{
  width: 33.3333%;
}

.detail .btn{
  padding: 10px 0px;
}

.detail_container{
  background-color: #f3edf0;
  padding: 30px;
}

.detail .btn{
  width: 100%;
}

.detail_total{
  border-bottom: solid 1px #551937;
  display: flex;
  justify-content: space-between;
  padding: 0 0 12px;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 45px;
}

.link_shop{
  padding: 30px;
}

.cart-num input[name="num"]{
  width: 100px;
  padding: 3px;
  text-align: center;
  border-radius: 3px;
  border: 1.5px solid #c0c0c0;
  margin: 0 3px;
  margin-bottom: 1rem;
}

.cart_info form input[type="submit"]{
  border-width: 0px;
  border-bottom: solid 3px #627295;
  padding: 3px 8px;
}

/* -------------------- タブレット md ~992px -------------------- */
@media screen and (max-width: 992px) {


}

/* -------------------- スマホ sm ~768px -------------------- */
@media screen and (max-width: 768px) {


  .cart_frame{
    display: block;
  }

  .cart_info p,.cart_info span,.cart_info input{
    font-size: 14px;
  }

  .cart_title h1{
    text-align: center;
  }

  .cart_title h1{
    font-size: 1.8rem;
  }

  .cart_items{
    width: 100%;
    padding-right: 0px;
  }

  .detail{
    width: 100%;
  }
}


/* -------------------- スマホ小 ~576px -------------------- */
@media screen and (max-width: 576px) {

  .cart_frame, .cart_title{
    padding: 0 20px;
  }

  .cart_title {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cart_item img{
    width: 150px;
    height: 150px;
  }

  input.number{
    width: 50%;
  }

  .detail_total{
    font-size: 18px;
    margin: 0 0 40px;
  }

.cart_info {
  padding-left: 5vw;
}

.cart_info p{
  margin-bottom: 5px;
}

  .cart-num input[name="num"]{
    width: 60px;
    margin: 0px 0px 5px;
  }

}